{% extends 'base.html.twig' %}


{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        {% if tableau is not empty %}
            {% for tableau in tableau %}
                <li>{{ tableau.language }}</li>
                <li>{{ tableau.version }}</li>
                <br/>
            {% endfor %}
        {% endif %}
    </ul>

    {{ random(tableau2) }}
    <br/>


    {% for i in range ('a','z') %}
        {{ i|upper }}
    {% endfor %}
</div>
{% endblock %}
