<nav>
    <div class="nav-wrapper  blue darken-3">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('home') }}">home</a></li>
            <li><a href="{{ path('annoucements') }}">list</a></li>
            <li><a href="{{ path('annoucementsAdd') }}">create</a></li>

        </ul>
    </div>
</nav>